.icon {
  color: slateblue;
  margin: 4rem 2rem 2rem 2rem;
}

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  from {
    transform: translate3d(0, 0, 0);
  }
  10%,
  90% {
    transform: translate3d(-10px, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  20%,
  80% {
    transform: translate3d(20px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-25px, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  40%,
  60% {
    transform: translate3d(17px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
